@import url("standard.css");

/* GOOGLE MAPS */

#google_maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#google_maps iframe {
  aspect-ratio: 16 / 9;
  width: 100% !important;
  border: 0;
}

h1,
h2,
h3,
p {
  margin: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/* Sports Header */

#sport_header {
  display: grid;
  margin-top: -4rem;
  z-index: 1;
}

#accent {
  display: none;
}

#sport_header h1 {
  background-color: var(--white);
  padding-top: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

#sport_header h2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--dark-gray);
}

/* Author Date */

#author_date {
  margin-top: 0.5rem;
}

#author_text,
#date_text {
  margin: 0 1rem;
  font-size: 0.8rem;
  line-height: 1rem;
}

#date_text {
  color: var(--dark-gray);
}

figure figcaption {
  display: none;
}

/* TABLET */
@media only screen and (min-width: 800px) {
  #sport_header {
    margin-top: -6rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
  }

  #sport_header h1 {
    margin-top: 0rem;
    font-size: 3rem;
  }

  #accent {
    display: block;
    text-align: center;
    color: var(--red);
  }

  #sport_header h2 {
    text-align: center;
  }

  #sport_header h1,
  #sport_header h2 {
    padding: 0 3rem;
  }

  .main_sport {
    margin: 0 5rem;
  }

  #header_img {
    padding: 0
  }

  iframe,
  img,
  figcaption {
    padding: 0 1rem;
  }

  figure figcaption {
    display: block;
    margin-top: 0.5rem;
    color: var(--dark-gray);
    font-size: 0.8rem;
  }
}
/* DESKTOP */
@media only screen and (min-width: 1000px) {
  .text_sport {
    margin: 1rem 10rem 2rem;
  }

  #author_date {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  figure.main_sport {
    position: relative;
    padding: 0
  }

  figure.main_sport figcaption {
    position: absolute;
    bottom: 0;
    width: 20%;
    left: 100%;           
    right: auto;
  }

  figure.main_sport:nth-of-type(even) figcaption {
    left: auto;
    right: 100%;
    margin-left: 0;
  }

  figcaption {
    margin: 0;
    padding: 0;
  }
}
