@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --black: #000000;
  --dark-gray: #66665F;
  --red: #e30613;
  --white: #ffffff;
  --gray: #eeeeee;
}

/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  color: var(--black);
}

#wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
  object-fit: contain;
  height: auto;
  display: block;
  border-radius: 2px;
}

a {
  text-decoration: none;
  color: var(--black);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem auto;
  max-width: 1000px;
}

/* HEADER */

header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: var(--gray);
}

header.active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem;
}

#logo.active {
  display: none;
}

.fa-bars {
  font-size: 1.6rem;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  gap: 1rem;
}

nav.active {
  flex-direction: column;
}

#nav_links {
  display: none;
}

#nav_links.active {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a.active {
  font-weight: 700;
  color: var(--red);
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  padding: 1.5rem 1rem;
  color: var(--white);
}

footer p,
footer span {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

#open_times {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

#open_times ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  gap: 1.7rem;
}

/* TABLET */

@media only screen and (min-width: 600px) {
  footer {
    gap: 1.2rem;
  }

  #open_times {
    max-width: 90%;
  }

  #open_times ul {
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  #open_times ul li:first-child {
    width: 100%;
    justify-content: center;
  }

  #open_times ul li {
    display: flex;
  }
}
/* DESKTOP */
@media only screen and (min-width: 1000px) {
  #burger_button {
    display: none;
  }

  header {
    justify-content: center;
    height: 4rem;
    align-items: center;
  }

  header #nav_links {
    display: flex;
    align-items: center;
    width: 100%;
    gap: clamp(1rem, 2vw, 2rem);
    max-width: 1000px;
  }

  /* Magic for moving links on hover */
  /* It creates invisible extra space for bold font */
  header #nav_links a::before {
    display: block;
    content: attr(data-title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  header #nav_links a:hover {
    color: var(--red);
    font-weight: 700;
  }

  header a {
    font-size: 0.9rem;
  }

  header nav a:last-child {
    margin-left: auto;
  }

  main {
    margin: 6rem auto;
  }
}
